{{#if resume.certificates.length}}
<div class="container certificates-container">
    {{> title value="Certificates"}}

    <div class="certificates-list">
        {{#each resume.certificates}}
        <div class="certificate-item">
            <strong>{{name}}</strong>
            {{#if issuer}}<span class="issuer">{{issuer}}{{#if date}} ({{date}}){{/if}}</span>{{/if}}
            {{#if url}}<a href="{{url}}" class="certificate-url">View Certificate</a>{{/if}}
        </div>
        {{/each}}
    </div>
</div>
{{/if}}
