{{#if resume.certificates.length}}
<div class="container certificates-container">
    {{> title value="Certificates"}}

    {{#each resume.certificates}}
        <section class="item">
            {{> section-header name=this.name }}

            {{#if issuer}}
            <h5 class="issuer">{{issuer}}</h5>
            {{/if}}

            {{#if date}}
            <h5 class="date">{{date}}</h5>
            {{/if}}

            {{#if url}}
            <a href="{{url}}" class="certificate-url">View Certificate</a>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
