{{#if resume.projects.length}}
<div class="container project-container">
    {{> title value="Entrepreneurial Projects"}}

    {{#each resume.projects}}
        <section class="item">
            {{> section-header name=this.name website=this.url showWebsite=true}}

            {{#if position}}
            <h4>{{position}}</h4>
            {{/if}}

            {{#if description}}
            <p class="summary">{{description}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
