{{#if resume.publications.length}}
<div class="container publications-container">
    {{> title value="Blog Posts & Talks"}}

    {{#each resume.publications}}
    <section class="item">
        {{#if url}}
        <a href="{{url}}" target="_blank" rel="noopener noreferrer">
            {{> section-header name=this.name}}
        </a>
        {{else}}
        {{> section-header name=this.name}}
        {{/if}}

        {{#if publisher}}
        <h5 class="awarder">{{publisher}}</h5>
        {{/if}}

        {{#if summary}}
        <p class="summary">{{summary}}</p>
        {{/if}}

    </section>
    {{/each}}

    <div class="view-all-publications">
        <a href="https://anand-creations.vercel.app/blog" target="_blank" rel="noopener noreferrer" style="color: #56817A; text-decoration: none;">
            <h3>View All Publications →</h3>
        </a>
    </div>
</div>
{{/if}}
