{{#if resume.skills.length}}
<div class="container skills-wrap">
    {{> title value="Skills"}}
    <div class="skills-container">
        {{#each resume.skills}}
            <section class="skills-section">
                {{#if name}}
                    <div class="title"><h3>{{name}}</h3></div>
                {{/if}}
                {{#if keywords.length}}
                    <div class="skills-flex">
                        {{#each keywords}}
                            <span class="skill-pill">{{.}}</span>
                        {{/each}}
                    </div>
                {{/if}}
            </section>
        {{/each}}
    </div>
</div>
{{/if}}
