{{#if resume.skills.length}}
    <div class="skills-container">
        {{#each resume.skills}}
            <section class="container skills-section">
                {{#if name}}
                    {{> title value=name}}
                {{/if}}
                {{#if level}}
                    <h4 class="bold capitalize">{{level}}</h4>
                {{/if}}
                {{#if keywords.length}}
                    <div class="skills-flex">
                        {{#each keywords}}
                            <span class="skill-pill">{{.}}</span>
                        {{/each}}
                    </div>
                {{/if}}
            </section>
        {{/each}}
    </div>
{{/if}}
